* {
	box-sizing: border-box;
}

@mixin flex_center() {
	display: flex;
	align-items: center;
	justify-content: center;
}

body {
	background-color: gray;
	
	a { text-decoration: none; }
	
	.button_section {
		display: flex;
		justify-content: space-around;
		flex-wrap: wrap;
		
		.b_ {
			width: 300px;
			height: 50px;
			border: white solid 5px;
			color: white;
			@include flex_center;
		}
		
		.b_1 {
			transition-property: background-color, color;
			transition-duration: 1s;
		}
		
		.b_1:hover {
			background-color: white;
			color: black;
		}
		
		.b_2 {
			transition-property: transform, background-color, color;
			transition-duration: 1s;
		}
		
		.b_2:hover {
			background-color: white;
			color: black;
			transform: scale(1.5);
		}
		
		.b_3 {
			transition-property: transform, background-color, color;
			transition-duration: 1s;
			transition-timing-function: ease-in;
		}
		
		.b_3:hover {
			background-color: white;
			color: black;
			transform: translateX(200px);
		}
	}
	
	.menu_section {
		display: flex;
		flex-wrap: wrap;
		
		ul {
			list-style:none;
			
			li {
				display: flex;
				flex-direction: row;
				
				transition-property: transform, background-color, visibility, opacity;
				transition-timing-function: ease-in;
				
				&:hover {
					@for $i from 1 through 8 {
						.menu_#{$i}_img_div { transition-duration: 1s; background-color: white; }
					}
					
					@for $i from 1 through 8 {
						.menu_#{$i}_txt { transition-duration: 1s; transform: translateX(0px); visibility: visible; opacity: 1;}
					}
				}
				
				.menu_1_img_div {
					padding: 25px 25px;
					background-color: #383838;
				}
				
				@for $i from 2 through 8 {
					.menu_#{$i}_img_div {
						padding: 25px 25px;
						background-color: #4c4c4c;
					}
				}
				
				@for $i from 1 through 8 {
					.menu_#{$i}_txt {
						@include flex_center;
						background-color: #282828;
						color: white;
						width: 200px;
						height: 100px;
						opacity: 0;
						visibility: hidden;
						transform: translateX(-50%);
					}
				}
			}
		}
	}
	.star_wars_section {
		background-color: black;
		width: 1280px;
		height: 720px;
		@include flex_center;
		overflow:hidden;
		position: relative;
		
		.star_wars_title {
			z-index: 2;
			opacity: 0;
		}
		
		.title {
			font-size: 50px;
			color: blue;
		}
		
		.star_wars_bg {
			z-index: 1;
			position: absolute;
			background-image: url("../img/bg.jpg"); width: 1280px; height: 720px;
			opacity: 0;
		}
		
		.logo {
			z-index: 1;
			position: absolute;
			left: 275px;
			top: 15px;
			background-image: url("../img/becode.png"); width: 720px; height: 720px;
			background-size: 720px 720px;
			background-repeat: no-repeat;
			opacity: 0;
		}
		.text_title {
			display: flex;
			justify-content: center;
		}
		
		.text {
			z-index: 2;
			font-size: 70px;
			color: yellow;
			position: absolute;
			left: 200px;
			top: 640px;
			width: 900px;
			opacity: 1;
		}
		
		
		&:hover {

			.star_wars_title {
				animation-name: title_anim;
				animation-duration: 5s;
				-webkit-animation-name: title_anim;
				-webkit-animation-duration: 5s;
			}
			
			@keyframe title_anim {
				0% { opacity: 0; }
				10% { opacity: 1; }
				90% { opacity: 1; }
				100% { opacity: 0; }
			}
			
			@-webkit-keyframes title_anim {
				0% { opacity: 0; }
				10% { opacity: 1; }
				90% { opacity: 1; }
				100% { opacity: 0; }
			}
			
			.star_wars_bg {
				animation-name: background_anim;
				animation-duration: 50s;
				animation-delay: 7s;
				-webkit-animation-name: background_anim;
				-webkit-animation-duration: 40s;
				-webkit-animation-delay: 5s;
			}
			
			@keyframe background_anim {
				5% { opacity: 1; }
				100% { opacity: 1; }
			}
			
			@-webkit-keyframes background_anim {
				5% { opacity: 1; }
				100% { opacity: 1; }
			}
			
			.logo {
				animation-name: logo_anim;
				animation-duration: 9s;
				animation-delay: 7s;
				-webkit-animation-name: logo_anim;
				-webkit-animation-duration: 9s;
				-webkit-animation-delay: 7s;
			}
			
			@keyframe logo_anim {
				0% { opacity: 1; transform: scale3d(1, 1, 1); }
				90% { opacity: 1; }
				100% { opacity: 0; transform: scale3d(0.1, 0.1, 0.1);}
			}
			
			@-webkit-keyframes logo_anim {
				0% { opacity: 1; transform: scale3d(1, 1, 1); }
				95% { opacity: 1; }
				100% { opacity: 0; transform: scale3d(0.1, 0.1, 0.1);}
			}
			
			.text {
				animation-name: text_anim;
				animation-duration: 45s;
				animation-delay: 15s;
				-webkit-animation-name: text_anim;
				-webkit-animation-duration: 45s;
				-webkit-animation-delay: 15s;
			}
			
			@keyframe text_anim {
				0% {
					 -webkit-transform: translate(-50%, -50%) perspective(300px) rotateX(25deg) scale3d(3, 3, 3) translate3d(0px, 720px, 0px);
					transform: translate(-50%, -50%) perspective(300px) rotateX(25deg) scale3d(3, 3, 3) translate3d(0px, 720px, 0px);
					opacity:1;
				}
				25% {
					opacity:1;
				}
				80% {
					opacity:1;
				}
				100% {
					opacity:0;
					-webkit-transform: translate(-50%, -50%) perspective(300px) rotateX(25deg) scale3d(3, 3, 3) translate3d(0px, -500px, 0px);
					transform: translate(-50%, -50%) perspective(300px) rotateX(25deg) scale3d(3, 3, 3) translate3d(0px, -500px, 0px);
				}	
			}
			
			@-webkit-keyframes text_anim {
				0% {
					 -webkit-transform: translate(0%, -30%) perspective(300px) rotateX(15deg) scale3d(3, 3, 3) translate3d(0px, 720px, 0px);
					transform: translate(0%, -30%) perspective(300px) rotateX(15deg) scale3d(3, 3, 3) translate3d(0px, 720px, 0px);
					opacity:1;
				}
				25% {
					opacity:1;
				}
				65% {
					opacity:1;
				}
				100% {
					opacity:0;
					-webkit-transform: translate(0%, -30%) perspective(300px) rotateX(15deg) scale3d(3, 3, 3) translate3d(0px, -2000px, 0px);
					transform: translate(0%, -30%) perspective(300px) rotateX(15deg) scale3d(3, 3, 3) translate3d(0px, -2000px, 0px);
				}	
			}
		}
	}
	
	.card_section {
		box-shadow: 0 0px 3px 0 rgba(0,0,0,0.2);
		width: 300px;
		border-radius: 5px;
		background-color: #f0f0f0;
		position: relative;
		left: 5%;
		transition-property: box-shadow;
		transition-duration: 0s;
		transition-timing-function: ease-in;
		overflow: hidden;
		
		img {
			z-index: 3;
			border-radius: 5px 5px 0 0;
			height: 100%;
			width: 100%;
			transition-property: transform;
			transition-duration: 0.2s;
			transition-timing-function: ease-in;
		}
		
		.card_date {
			position: absolute;
			@include flex_center;
			flex-direction: column;
			margin: 10px;
			width: 50px;
			height: 50px;
			top: 5px;
			right: 10px;
			background: red;
			border-radius: 100px;
		}
		
		.card_content {
			top: 5px;
		}
		
		.card_category {
			position: absolute;
			transform: translateY(-25px);
			@include flex_center;
			background-color: red;
			width: 90px;
			height: 30px;
		}
		
		.card_move {
			z-index: 1;
			background-color: #f0f0f0;
			transform: translateY(-30px);
			transition-property: transform;
			transition-duration: 0.2s;
			transition-timing-function: ease-in;
		}
		
		.card_title {
			padding-top: 5px;
		}
		
		.card_sub_title {
			color: red;
		}
		
		.cache_misere {
			z-index: 2;
			transform: translateX(-300px);
			background-color: #f0f0f0;
			position: absolute;
			height: 35px;
			width: 300px;
			top: 272px;
			transition-property: transform;
			transition-duration: 0.1s;
			transition-timing-function: ease-in;
		}
		
		.card_description {
			position: absolute;
			display: none;
			visibility: 0;
			transition-property: display, visibility;
			transition-duration: 0.2s;
			transition-timing-function: ease-in;
			background-color: #f0f0f0;
		}
		
		.card_infos {
			display: flex;
			justify-content: space-between;
			margin: 10px 15px 10px 10px;
			transform: translateY(-15px);
		}
		
		&:hover {
			box-shadow: 0 0px 25px 0 rgba(0,0,0,0.6);
			
			.card_move {
				transform: translateY(-150px);
			}
			
			.card_description {
				display: block;
				visibility: 1;
			}
			
			.cache_misere {
				transform: translateX(0px);
			}
			
			img {
				transform: scale(1.4);
			}
		}
	}
}