* {
  box-sizing: border-box; }

body {
  background-color: gray; }
  body a {
    text-decoration: none; }
  body .button_section {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap; }
    body .button_section .b_ {
      width: 300px;
      height: 50px;
      border: white solid 5px;
      color: white;
      display: flex;
      align-items: center;
      justify-content: center; }
    body .button_section .b_1 {
      transition-property: background-color, color;
      transition-duration: 1s; }
    body .button_section .b_1:hover {
      background-color: white;
      color: black; }
    body .button_section .b_2 {
      transition-property: transform, background-color, color;
      transition-duration: 1s; }
    body .button_section .b_2:hover {
      background-color: white;
      color: black;
      transform: scale(1.5); }
    body .button_section .b_3 {
      transition-property: transform, background-color, color;
      transition-duration: 1s;
      transition-timing-function: ease-in; }
    body .button_section .b_3:hover {
      background-color: white;
      color: black;
      transform: translateX(200px); }
  body .menu_section {
    display: flex;
    flex-wrap: wrap; }
    body .menu_section ul {
      list-style: none; }
      body .menu_section ul li {
        display: flex;
        flex-direction: row;
        transition-property: transform, background-color, visibility, opacity;
        transition-timing-function: ease-in; }
        body .menu_section ul li:hover .menu_1_img_div {
          transition-duration: 1s;
          background-color: white; }
          body .menu_section ul li:hover .menu_2_img_div {
            transition-duration: 1s;
            background-color: white; }
          body .menu_section ul li:hover .menu_3_img_div {
            transition-duration: 1s;
            background-color: white; }
          body .menu_section ul li:hover .menu_4_img_div {
            transition-duration: 1s;
            background-color: white; }
          body .menu_section ul li:hover .menu_5_img_div {
            transition-duration: 1s;
            background-color: white; }
          body .menu_section ul li:hover .menu_6_img_div {
            transition-duration: 1s;
            background-color: white; }
          body .menu_section ul li:hover .menu_7_img_div {
            transition-duration: 1s;
            background-color: white; }
          body .menu_section ul li:hover .menu_8_img_div {
            transition-duration: 1s;
            background-color: white; }
          body .menu_section ul li:hover .menu_1_txt {
            transition-duration: 1s;
            transform: translateX(0px);
            visibility: visible;
            opacity: 1; }
          body .menu_section ul li:hover .menu_2_txt {
            transition-duration: 1s;
            transform: translateX(0px);
            visibility: visible;
            opacity: 1; }
          body .menu_section ul li:hover .menu_3_txt {
            transition-duration: 1s;
            transform: translateX(0px);
            visibility: visible;
            opacity: 1; }
          body .menu_section ul li:hover .menu_4_txt {
            transition-duration: 1s;
            transform: translateX(0px);
            visibility: visible;
            opacity: 1; }
          body .menu_section ul li:hover .menu_5_txt {
            transition-duration: 1s;
            transform: translateX(0px);
            visibility: visible;
            opacity: 1; }
          body .menu_section ul li:hover .menu_6_txt {
            transition-duration: 1s;
            transform: translateX(0px);
            visibility: visible;
            opacity: 1; }
          body .menu_section ul li:hover .menu_7_txt {
            transition-duration: 1s;
            transform: translateX(0px);
            visibility: visible;
            opacity: 1; }
          body .menu_section ul li:hover .menu_8_txt {
            transition-duration: 1s;
            transform: translateX(0px);
            visibility: visible;
            opacity: 1; }
        body .menu_section ul li .menu_1_img_div {
          padding: 25px 25px;
          background-color: #383838; }
        body .menu_section ul li .menu_2_img_div {
          padding: 25px 25px;
          background-color: #4c4c4c; }
        body .menu_section ul li .menu_3_img_div {
          padding: 25px 25px;
          background-color: #4c4c4c; }
        body .menu_section ul li .menu_4_img_div {
          padding: 25px 25px;
          background-color: #4c4c4c; }
        body .menu_section ul li .menu_5_img_div {
          padding: 25px 25px;
          background-color: #4c4c4c; }
        body .menu_section ul li .menu_6_img_div {
          padding: 25px 25px;
          background-color: #4c4c4c; }
        body .menu_section ul li .menu_7_img_div {
          padding: 25px 25px;
          background-color: #4c4c4c; }
        body .menu_section ul li .menu_8_img_div {
          padding: 25px 25px;
          background-color: #4c4c4c; }
        body .menu_section ul li .menu_1_txt {
          display: flex;
          align-items: center;
          justify-content: center;
          background-color: #282828;
          color: white;
          width: 200px;
          height: 100px;
          opacity: 0;
          visibility: hidden;
          transform: translateX(-50%); }
        body .menu_section ul li .menu_2_txt {
          display: flex;
          align-items: center;
          justify-content: center;
          background-color: #282828;
          color: white;
          width: 200px;
          height: 100px;
          opacity: 0;
          visibility: hidden;
          transform: translateX(-50%); }
        body .menu_section ul li .menu_3_txt {
          display: flex;
          align-items: center;
          justify-content: center;
          background-color: #282828;
          color: white;
          width: 200px;
          height: 100px;
          opacity: 0;
          visibility: hidden;
          transform: translateX(-50%); }
        body .menu_section ul li .menu_4_txt {
          display: flex;
          align-items: center;
          justify-content: center;
          background-color: #282828;
          color: white;
          width: 200px;
          height: 100px;
          opacity: 0;
          visibility: hidden;
          transform: translateX(-50%); }
        body .menu_section ul li .menu_5_txt {
          display: flex;
          align-items: center;
          justify-content: center;
          background-color: #282828;
          color: white;
          width: 200px;
          height: 100px;
          opacity: 0;
          visibility: hidden;
          transform: translateX(-50%); }
        body .menu_section ul li .menu_6_txt {
          display: flex;
          align-items: center;
          justify-content: center;
          background-color: #282828;
          color: white;
          width: 200px;
          height: 100px;
          opacity: 0;
          visibility: hidden;
          transform: translateX(-50%); }
        body .menu_section ul li .menu_7_txt {
          display: flex;
          align-items: center;
          justify-content: center;
          background-color: #282828;
          color: white;
          width: 200px;
          height: 100px;
          opacity: 0;
          visibility: hidden;
          transform: translateX(-50%); }
        body .menu_section ul li .menu_8_txt {
          display: flex;
          align-items: center;
          justify-content: center;
          background-color: #282828;
          color: white;
          width: 200px;
          height: 100px;
          opacity: 0;
          visibility: hidden;
          transform: translateX(-50%); }
  body .star_wars_section {
    background-color: black;
    width: 1280px;
    height: 720px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    position: relative; }
    body .star_wars_section .star_wars_title {
      z-index: 2;
      opacity: 0; }
    body .star_wars_section .title {
      font-size: 50px;
      color: blue; }
    body .star_wars_section .star_wars_bg {
      z-index: 1;
      position: absolute;
      background-image: url("../img/bg.jpg");
      width: 1280px;
      height: 720px;
      opacity: 0; }
    body .star_wars_section .logo {
      z-index: 1;
      position: absolute;
      left: 275px;
      top: 15px;
      background-image: url("../img/becode.png");
      width: 720px;
      height: 720px;
      background-size: 720px 720px;
      background-repeat: no-repeat;
      opacity: 0; }
    body .star_wars_section .text {
      z-index: 2;
      font-size: 70px;
      color: yellow;
      position: absolute;
      left: 200px;
      top: 640px;
      width: 900px;
      opacity: 1; }
    body .star_wars_section:hover .star_wars_title {
      animation-name: title_anim;
      animation-duration: 5s;
      -webkit-animation-name: title_anim;
      -webkit-animation-duration: 5s; }
      @keyframe title_anim {
  body .star_wars_section:hover 0% {
    opacity: 0; }
  body .star_wars_section:hover 10% {
    opacity: 1; }
  body .star_wars_section:hover 90% {
    opacity: 1; }
  body .star_wars_section:hover 100% {
    opacity: 0; } }

@-webkit-keyframes title_anim {
        0% {
          opacity: 0; }
        10% {
          opacity: 1; }
        90% {
          opacity: 1; }
        100% {
          opacity: 0; } }
  body .star_wars_section:hover .star_wars_bg {
    animation-name: background_anim;
    animation-duration: 50s;
    animation-delay: 7s;
    -webkit-animation-name: background_anim;
    -webkit-animation-duration: 40s;
    -webkit-animation-delay: 5s; }
  @keyframe background_anim {
      body .star_wars_section:hover 5% {
        opacity: 1; }
      body .star_wars_section:hover 100% {
        opacity: 1; } }

@-webkit-keyframes background_anim {
        5% {
          opacity: 1; }
        100% {
          opacity: 1; } }
  body .star_wars_section:hover .logo {
    animation-name: logo_anim;
    animation-duration: 9s;
    animation-delay: 7s;
    -webkit-animation-name: logo_anim;
    -webkit-animation-duration: 9s;
    -webkit-animation-delay: 7s; }
  @keyframe logo_anim {
      body .star_wars_section:hover 0% {
        opacity: 1;
        transform: scale3d(1, 1, 1); }
      body .star_wars_section:hover 90% {
        opacity: 1; }
      body .star_wars_section:hover 100% {
        opacity: 0;
        transform: scale3d(0.1, 0.1, 0.1); } }

@-webkit-keyframes logo_anim {
        0% {
          opacity: 1;
          transform: scale3d(1, 1, 1); }
        95% {
          opacity: 1; }
        100% {
          opacity: 0;
          transform: scale3d(0.1, 0.1, 0.1); } }
  body .star_wars_section:hover .text {
    animation-name: text_anim;
    animation-duration: 45s;
    animation-delay: 15s;
    -webkit-animation-name: text_anim;
    -webkit-animation-duration: 45s;
    -webkit-animation-delay: 15s; }
  @keyframe text_anim {
      body .star_wars_section:hover 0% {
        -webkit-transform: translate(-50%, -50%) perspective(300px) rotateX(25deg) scale3d(3, 3, 3) translate3d(0px, 720px, 0px);
        transform: translate(-50%, -50%) perspective(300px) rotateX(25deg) scale3d(3, 3, 3) translate3d(0px, 720px, 0px);
        opacity: 1; }
      body .star_wars_section:hover 25% {
        opacity: 1; }
      body .star_wars_section:hover 80% {
        opacity: 1; }
      body .star_wars_section:hover 100% {
        opacity: 0;
        -webkit-transform: translate(-50%, -50%) perspective(300px) rotateX(25deg) scale3d(3, 3, 3) translate3d(0px, -500px, 0px);
        transform: translate(-50%, -50%) perspective(300px) rotateX(25deg) scale3d(3, 3, 3) translate3d(0px, -500px, 0px); } }

@-webkit-keyframes text_anim {
        0% {
          -webkit-transform: translate(0%, -30%) perspective(300px) rotateX(15deg) scale3d(3, 3, 3) translate3d(0px, 720px, 0px);
          transform: translate(0%, -30%) perspective(300px) rotateX(15deg) scale3d(3, 3, 3) translate3d(0px, 720px, 0px);
          opacity: 1; }
        25% {
          opacity: 1; }
        65% {
          opacity: 1; }
        100% {
          opacity: 0;
          -webkit-transform: translate(0%, -30%) perspective(300px) rotateX(15deg) scale3d(3, 3, 3) translate3d(0px, -2000px, 0px);
          transform: translate(0%, -30%) perspective(300px) rotateX(15deg) scale3d(3, 3, 3) translate3d(0px, -2000px, 0px); } }
  body .card_section {
    box-shadow: 0 0px 3px 0 rgba(0, 0, 0, 0.2);
    width: 20%;
    border-radius: 5px;
    background-color: #f0f0f0; }
  body .card_section img {
    border-radius: 5px 5px 0 0;
    height: 100%;
    width: 100%; }
